* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(red, green, blue);
}
.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background: #eee;
  justify-content: center;
  align-self: center;
  color: rgb(233, 178, 106);
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}
a {
  color: rgb(233, 178, 106);
  text-decoration: none;
}
.body {
  display: flex;
  flex-direction: column;
  height: 85vh;
  margin: 0;
  /* overflow: hidden; */
  font-family: Roboto, sans-serif;
  align-items: center;
  gap: 25px;
}
img {
  width: 100px;
}
.scoreboard {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px;
  color: rgb(233, 178, 106);
}
p {
  color: rgb(233, 178, 106);
  text-align: center;
}
.compScore .userScore {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  max-width: 300px;
  padding: 15px;
}
.rpsGame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 25px;
  /* margin-top: auto; */
}
.rpsGame > img {
  width: 250px;
}
button {
  background-color: transparent;
  border: 0;
  color: rgb(233, 178, 106);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1;
  margin-top: 1.5rem;
  width: 100%; /* Large, mobile-friendly touch target */
}
.computer {
  border-style: dashed;
  border-color: rgb(0, 118, 110);
}
.player {
  border-style: solid;
  border-color: rgb(233, 178, 106);
}
.tie {
  border-style: dotted dashed solid double;
  border-color: rgb(14, 24, 38);
}
